<div class="container" style="padding:20px;">
	<ul class="nav nav-tabs">
  	<li class="nav-item">
    <a class="nav-link"  href="/Estudiantes/index"> Estudiantes</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"  href="/acudiente/index">Acudientes</a>
  </li>
  <li class="nav-item">
      <a class="nav-link"  href="/dispositivo/index">Consula</a>
  </li>

</ul>
	<hr>
  <main>
  <router-outlet></router-outlet>
  </main>
</div>
