<div class="">
  <div class="d-flex justify-content-between">
<h4>Formulario Acudientes</h4>
<a href="#" routerLink="/acudiente/index" class="btn btn-primary">Regresar</a>
</div>
<hr/>
<form  [formGroup]="form" >
<div class="form-group row">

  <div class="col-md-6 ">
    <label for="title">N° Indentificación:</label>
    <input
      formControlName="cedula"
      id="cedula"
      type="number"
      class="form-control">
  </div>
  <div class="col-md-6 ">
    <label for="title">Nombre:</label>
    <input
      formControlName="nombre"
      id="nombre"
      type="text"
      class="form-control">
  </div>
  <div class="col-md-6 ">
    <label for="title">Apellido:</label>
    <input
      formControlName="apellido"
      id="apellido"
      type="text"
      class="form-control">
  </div>
  <div class="col-md-6">
      <label for="">Parentesco</label>
        <select class="form-control" formControlName="parentesco" id="parentesco">
            <option value="Madre">Madre</option>
            <option value="Padre">Padre</option>
            <option value="Tio">Tio</option>
            <option value="Abuelos">Abuela / Abuelo</option>
        </select>
  </div>
  <div class="col-md-6 ">
    <label for="title">Telefono:</label>
    <input
      formControlName="telefono"
      id="telefono"
      type="number"
      class="form-control">
  </div>

</div>
<div class="d-flex justify-content-end">
  <button type="button" class="btn btn-primary" name="button"  (click)="guardar()" >Guardar</button>
</div>
</form>

</div>
