<section>
  <div class="d-flex justify-content-between">
    <h4>Lista Acudientes</h4>
    <a routerLink="/acudiente/create" class="btn btn-success">Crear Acudientes</a>
  </div>


  <div class="container">
    <div class="">
      <input type="text" name="Buscador" class="form-control" #txtSearch (keyup)="onSearch(txtSearch.value)">
    </div>
    <hr/>
      <table class="table">
          <thead>
              <tr>
              <td>ID</td>
              <td>Cedula</td>
              <td>Nombre</td>
              <td>apellido</td>
              <td>parentesco</td>
              <td>telefono</td>
              <td>Acciones</td>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let acude of acudiente | filtro:search ">
                <td>{{acude.id}}</td>
                <td>{{ acude.cedula}}</td>
                <td>{{ acude.nombre}}</td>
                <td>{{ acude.apellido}}</td>
                <td>{{ acude.parentesco}}</td>
                <td>{{ acude.telefono}}</td>
                <td>
                  <a href="#" [routerLink]="['/acudiente/', 'edit', acude.id  ]" class="btn btn-primary">Edit</a>
                  <button type="button" (click)="delete(acude.id)" class="btn btn-danger">Delete</button>
                </td>
              </tr>
          </tbody>
      </table>


  </div>
</section>
